:root {
    --color-primary: #eb2f64;
    --color-primary-light: #FF3366;
    --color-primary-dark: #BA265D;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --color-green-1: #38A956;
    --color-green-2: rgba(56, 169, 86, 0.842);

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

    --line: 1px solid var(--color-grey-light-2);
}


* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;  /*1rem = 10px, 10px/16px = 62.5% */

    @media only screen and (max-width: $bp-large) {
        font-size: 50%;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    /* color: var(--color-grey-dark-2);
    background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
    background-size: cover;
    background-repeat: no-repeat;

    min-height: 100vh; */
}




.custom-container {
    background-color: #E5E5E5;
    min-height: 50rem;
    max-width: 100%;

    display: flex;
}

/* SIDE NAVIGATION */
.sidebar {
    background: #FFFFFF;
}
.side-nav {
    flex: 0 0 18%;
    height: 800px;
    font-size: 1.4rem;
    list-style: none;
    /* margin-top: 3.5rem; */
}
.side-nav__item {
    position: relative;
}

.side-nav__item:not(:last-child) {
    margin-bottom: .5rem;
}

.side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-green-1);
    transform: scaleY(0);
    transition: transform .2s, 
                width .4s cubic-bezier(1,0,0,1) .2s,
                background-color .1s;
}
.side-nav__link:link,
.side-nav__link:visited {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    color: var(--color-grey-dark-1);
    z-index: 100;

}
.side-nav__item:hover::before,
.side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%;
    color: var(--color-grey-light-1);
    
}
#side-nav__link--active {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    color: #FFFFFF;
}

.side-nav__item:active::before {
    background-color: var(--color-green-2);
    
}





/* HEADER CLASSES */
.header-1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 3.5rem;
    color: var(--color-green-1);
    margin: 2rem 3rem;
}



.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color:  #E5E5E5;
    padding: 3rem 1.5rem ;
    min-height: 100vh;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
}

/* SEARCHBOX */
.search {
    margin-left: 1.5rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: .7rem 4rem;
    width: 100%;
    margin-left: -3rem;
    height: 4.8rem;
    
}
.search__input:focus + .search__button {
    background-color: var(--color-grey-light-3);
}
.search__input:focus {
    outline: none;
    background-color: var(--color-grey-light-3);
}
.search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: var(--color-grey-light-4);
}
.search__button {
    position: relative;
    z-index: 10;
    border: none;
    background-color: var(--color-grey-light-2);
}
.search__button:focus {
    outline: none;
}
.search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
}
.content {

}
.content-heading {
    color: #FD9827;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    padding: 2rem 2rem;
}

/* MAIN NAV LINKS */
.users-link{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #353535;
}
.users-nav-link__icon{
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
}

/* TABLE */
th{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 22px;
    color: #353535;
}
td {
    white-space: nowrap;
}
td:first-child {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #353535;
}

td:not(:first-child){
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #353535;
}
.status {
    background-color: blue;
    padding: .6rem;
    display: inline-block;
    margin-left: 1.3rem;
}

#nav-tabContent{
    
}

.content-box{
    background-color: var(--color-grey-light-2);
    padding: 3rem 2rem;
}

.date-box {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0;
}
.date {
    padding: .5rem 1.5rem;
    background-color: rgba(249, 223, 184, 0.67);
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
}


/* USER NAVIGATION */ 
.user-nav {
    flex: 0 0 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.8rem;
    background-color: var(--color-grey-light-2);


    
}
.user-nav > * {
    padding: 0 1rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    flex: 1;
    align-items: center;
}
.user-nav > *:hover {
    background-color: var(--color-grey-light-2);
}
.user-nav__user {

}
.user-nav__user-name {

}
.user-nav__user-photo {
    height: 3.755rem;
    border-radius: 50%;
    margin-right: .5rem;
}
.user-nav__icon-box {
    position: relative;
}
.user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: #31AA52;;
} 
.user-link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    color: #353535;
}
.user-nav__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    top: .5rem;
    right: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-nav__notification--bell {
    position: absolute;
    top: .5rem;
    right: 3.5rem;
}
.users-nav-link__icon {
    fill: #353535;
}




/* MEDIA QUERIES */

@media only screen and (max-width: 1500px) {
    .user-nav {
        flex: 0 0 20%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 4.8rem;
    
    
        
    }
}

@media only screen and (max-width: 1400px) {
    .user-nav {
        flex: 0 0 20%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 4.8rem;
    
    
        
    }
    .side-nav__item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: .5rem;
        white-space: nowrap;
    }
    
    .user-nav__notification {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: #fff;
        position: absolute;
        top: .5rem;
        right: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .user-nav__notification--bell {
        position: absolute;
        top: .5rem;
        right: 3.5rem;
    }
}

@media only screen and (max-width: 1080px) {
    .user-nav__notification--bell {
        position: absolute;
        top: .5rem;
        right: 1.5rem;
    }
}

@media only screen and (max-width: 900px) {
    .custom-container {
        background-color: #E5E5E5;
        min-height: 50rem;
        max-width: 100%;
    
        display: flex;
        flex-direction: column;
        
    }

    .user-nav {
        flex: 0 0 25%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 4.8rem;
    
    
        
    }

    .side-nav {
        flex: 0 0 18%;
        align-items: stretch;
        height: 100%;
        font-size: 1.7rem;
        list-style: none;
        /* margin-top: 3.5rem; */

        display: flex;
        justify-content: space-between;
        white-space: nowrap;
    }

    .side-nav__link:link,
    .side-nav__link:visited {
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        padding: 1.5rem 3rem;
        color: var(--color-grey-dark-1);
        z-index: 100;

    }

    .user-nav__notification--bell {
        position: absolute;
        top: .5rem;
        right: 3.5rem;
    }

    
    .header-1 {
        font-size: 2rem;   
    }
}

@media only screen and (max-width: 890px) {
    .side-nav {
        flex: 0 0 18%;
        align-items: stretch;
        height: 100%;
        font-size: 1.1rem;
        list-style: none;
        /* margin-top: 3.5rem; */

        display: flex;
        justify-content: space-between;
        white-space: nowrap;
    }

    .user-nav__notification--bell {
        position: absolute;
        top: .5rem;
        right: 3.5rem;
    }
}

@media only screen and (max-width: 740px) {
    .custom-container {
        background-color: #E5E5E5;
        min-height: 50rem;
        max-width: 100%;
    
        display: flex;
        flex-direction: column;
        
    }

    .user-nav {
        flex: 0 0 25%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 4.8rem;
    
    
        
    }

    .side-nav {
        flex: 0 0 18%;
        align-items: stretch;
        height: 100%;
        font-size: 1rem;
        list-style: none;
        /* margin-top: 3.5rem; */

        display: flex;
        justify-content: space-between;
        white-space: nowrap;
    }

    #side-nav__link--active {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 1.1rem;
        color: #FFFFFF;
    }

    .header-1 {
        font-size: 2rem;   
    }
}

@media only screen and (max-width: 690px) {
    .side-nav {
        flex: 0 0 18%;
        align-items: stretch;
        height: 100%;
        font-size: 1rem;
        list-style: none;
        /* margin-top: 3.5rem; */

        display: flex;
        justify-content: space-between;
        white-space: nowrap;
        flex-wrap: wrap;
    }

    .user-nav__notification--bell {
        position: absolute;
        top: .5rem;
        right: 1.5rem;
    }
}

@media only screen and (max-width: 500px) {
    .header {
        /* display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.4rem; */
        flex-direction: column;
    }
    .search {
        align-self: stretch;
        margin: 1rem 0;
        width: 100%;
    }

    .user-nav {
        align-self: stretch;
        display: flex;
        justify-content: start;
        
    }

    .user-nav > * {
        padding: 0 1rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        flex: 0 0 0 ;
        align-items: center;
        justify-content: space-around;
    }

    /* .user-nav {
        flex: 0 0 18%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 4.8rem;
        background-color: var(--color-grey-light-2);
    
    
        
    } */

    .user-nav__notification {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: #fff;
        position: absolute;
        top: .5rem;
        right: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .user-nav__icon {
        height: 2.7rem;
        width: 2.7rem;
        fill: #31AA52;;
    }

    .search__input {
        margin-left: -2rem;
    }

    /* .search__button {
        padding-left: 1rem;
    } */
}